:root {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #212121;
    --copy-small: 0.833rem;
    --copy-xsmall: 0.694rem;
}

body {
    height: 100vh;
    width: 100vw;
}
  
h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}

ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

h1 {
    font-size: 2.986rem;
}

img {
    display: block;
    max-inline-size: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
}

header {
    grid-column: 2/-1;
    grid-row: 1/2;
}

aside {
    grid-column: 1/2;
    grid-row: 1/-1;
}

main {
    grid-column: 2/-1;
    grid-row: 2/-1;
}

.debug {
    background-color: #e37d7d80;
    border: 1px dashed #c9616180;
    padding: 10px;
}